.container {
    display: flex;
    flex-flow: row wrap;
    height: 700px;
    background-color: lightblue;
    align-items: center;
}

.formDiv {
    padding: 10px;
    background-color: white;
    height: 600px;
    width: 400px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 15px;
    align-content: center;
    text-align: center;
    border: 10px solid black;
}

.formDiv legend {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    text-shadow: 1px 1px 2px lightblue;
    border: 2px solid lightblue;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.formDiv label {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.formDiv input {
    width: 250px;
    margin-left: 20px;
    height: 35px;
    font-size: 25px;
    font-weight: bold;
}

.formDiv input:hover {
    border-radius: 15px;
    box-shadow: 0 5px 8px lightblue;
    padding: 10px;
}

#Sub {
    font-size: 35px;
    height: 60px;
    background-color: lightblue;
    font-weight: bold;
}

.TableDiv {
    padding: 10px;
    background-color: white;
    height: 600px;
    width: 1000px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 15px;
    text-align: center;
    border: 10px solid black;
}

.TableDiv > table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.TableDiv th, .TableDiv td {
    border: 1px solid black;
    padding: 20px;
    text-align: left;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.TableDiv th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.TableDiv tr:nth-child(even) {
    background-color: #f9f9f9;
}

.TableDiv tr:hover {
    background-color: #d1e7fd;
}
